P{
    
    text-align: center;
    text-decoration-line: underline;
    text-shadow: 1px;
    text-align: center;
    color: aqua;
    font-style: initial;
    font-family: Arial,;

}
body{
    background-color: beige;
     margin: 0;
     padding: 0;

}